


  h1 {
    background-color:rgba(140, 163, 169, 0.4);
    text-shadow:#888 2px 2px 3px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-color: rgb(171, 144, 144, 0.4);
    color: black;
    border-radius: 15px;
}


div {
    padding-left: 0.5cm;
    padding-right: 0.5cm; 
    padding-top: 2%;
    padding-bottom: 1%;
    color: black;
    text-shadow:#888 2px 2px 3px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
    border-radius: 15px;
    background:bisque;
}

.render {
  display: flex;
  flex-direction: column;
}

